link(rel="import", href="../components/polymer/polymer.html")

dom-module(id="module-info")
  template
    style.
      :host {
        display: block;

        padding: 10px 20px;
      }

    h1 Information on IMARD module #{meta.id}
    ul
      li <strong>Language</strong>: #{meta.language}
      li <strong>Title</strong>: #{meta.title}
      li <strong>Description</strong>: #{meta.description}
      li <strong>Creation Date</strong>: #{meta.created}
      li <strong>Revision Date</strong>: #{meta.revised}
      li <strong>Disciplines</strong>:
        ul
          - each disc in meta.disciplines
            li= disc
      li <strong>Study Objectives</strong>:
        ul
          - each so in meta.studyObjectives
            li= so
      li <strong>Keywords</strong>:
        ul
          - each key in meta.keywords
            li= key
      li <strong>Contributors</strong>:
        ul
          - each con in meta.contributors
            li= con
      if meta.elements.length > 0
        li <strong>Imported elements</strong>:
          ul
          - each el in meta.elements
            li= el



  script.
    Polymer({
      is: 'module-info'
    });