link(rel="import", href="https://cdn.rawgit.com/download/polymer-cdn/1.5.0/lib/polymer/polymer.html")

dom-module(id="module-info")
  template
    style.
      :host {
        display: block;

        padding: 10px 20px;
      }

    h1 Information on IMARD module #{meta.id}
    ul
      li <strong>Language</strong>: #{meta.language}
      li <strong>Title</strong>: #{meta.title}
      li <strong>Description</strong>: #{meta.description}
      li <strong>Creation Date</strong>: #{meta.created}
      li <strong>Revision Date</strong>: #{meta.revised}
      if meta.disciplines && meta.disciplines.length > 0
        li <strong>Disciplines</strong>:
          ul
            - each disc in meta.disciplines
              li= disc
      if meta.studyObjectives && meta.studyObjectives.length > 0
        li <strong>Study Objectives</strong>:
          ul
            - each so in meta.studyObjectives
              li= so
      if meta.keywords && meta.keywords.length > 0
        li <strong>Keywords</strong>:
          ul
            - each key in meta.keywords
              li= key
      if meta.contributors && meta.contributors.length > 0
        li <strong>Contributors</strong>:
          ul
            - each con in meta.contributors
              li= con
      if meta.elements && meta.elements.length > 0
        li <strong>Imported elements</strong>:
          ul
          - each el in meta.elements
            li= el

  script.
    Polymer({
      is: 'module-info'
    });